body
{
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height:1.6em;
    width:80%;
	margin:auto;
}

form
{
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height:1.6em;
    width:80%;
	margin:auto;
}

table
{
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height:1.6em;
    width:80%;
	margin:auto;
}

.button 
{
    background-color: lightblue;
    border: lightgray;
    color: darkblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.buttonAny{
    border-radius: 3px;
}